body 	{
  	box-sizing: border-box;
  	color: #333;
  	font-family: Arial, monospace;
  	font-weight: 400;
  	font-size: small;
	font-variant: small-caps;
	}

h1 	{
    	text-align: center;
  	margin: 10px;
 	font-family: 'Wallpoet', cursive;
  	font-size: 3em;
  	letter-spacing: 1px;
  	font-weight: 630;
  	color: white;
  	}
	            
        	.block1 {
          		margin-left:20px;
			margin-bottom:20px;
          		padding:5px;
          		width: 330px;
          		min-height:70px;
          		background: #ccc;
          		border: solid 1px black; 
          		float: left;}

 .input {
	margin-left:5%;
 	float:left;}
 
 .password {
     	margin-right:5%;
 	float:right;}

a.ph2 {
  margin: 11px;
  float:left;
  display: inline-block;
  color: white;
  font-weight: 500;
  text-decoration: none;
  user-select: none;
  padding: .3em 1em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;

} 
a.ph2:hover { background: RGBA(255,255,255,.2); }
a.ph2:active { background: white; }

a.ph3 {
  margin: 11px;
  float:right;
  display: inline-block;
  color: white;
  font-weight: 500;
  text-decoration: none;
  user-select: none;
  padding: .3em 1em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;

} 
a.ph3:hover { background: RGBA(255,255,255,.2); }
a.ph3:active { background: white; }


a.ph5 {
  margin-left:30%;
  margin-top:20px;
  margin-bottom:10px;
  display: inline-block;
  color: white;
  font-weight: 500;
  text-decoration: none;
  user-select: none;
  padding: .3em 1em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;

} 
a.ph5:hover { background: RGBA(255,255,255,.2); }
a.ph5:active { background: white; }
a.ph6 {
  margin-left:30%;
  margin-top:5px;
  margin-bottom:5px;
  display: inline-block;
  color: white;
  font-weight: 500;
  text-decoration: none;
  user-select: none;
  padding: .3em 1em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;

} 
a.ph6:hover { background: RGBA(255,255,255,.2); }
a.ph6:active { background: white; }

#dataStr {
  height: 15px;
  background-color: white;
}