body {
  box-sizing: border-box;
  color: #333;
  font-family: Arial, monospace;
  font-weight: 400;
font-variant: small-caps;
}
h1 {
    text-align: center;
  margin: 10px;
 font-family: 'Wallpoet', cursive;
  font-size: 4em;
  letter-spacing: 2px;
  font-weight: 630;
  color: white;
  }
  
  
.ph2 {
margin: 11px;
    float:left;
    
}
.ph3 {
  margin: 11px;
    float:right;
 }
 .input {
margin-left:5%;
 float:left;
     
 }
 .password {
     margin-right:5%;
 float:right;
     
 }
 .save {
     margin-left:34%;
     margin-top:80px;
     margin-bottom:10px;
 }